<h1>Session New</h1>

<%= form_tag(login_path) do %>
  <fieldset>
    <section>
      <%= label_tag(:email) %>
      <%= email_field_tag(:email) %>
    </section>
    <section>
      <%= label_tag(:password) %>
      <%= password_field_tag(:password) %>
    </section>
    <section>
      <%= submit_tag('Login yo') %>
    </section>  
  </fieldset>
<% end %>
