<%= form_for(@recipe) do |f| %>

<fieldset>
    <section>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </section>
    <section>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </section>
    <section>
      <%= f.label :ingredients %>
      <%= f.text_field :ingredients %>
    </section>
    <section>
      <%= f.label :instructions %>
      <%= f.text_field :instructions %>
    </section>
    <section>
      <%= f.label :cook_time %>
      <%= f.time_field :cook_time %>
    </section>
    <section>
      <%= f.label :picture %>
      <%= f.text_field :picture %>
    </section>
    

    <section>
      <%= f.submit("Save") %>
    </section>
  </fieldset>

<% end %>
