<h1>New User</h1>

<%= form_for(@user) do |f| %>
  <fieldset>
    <section>
     <%= f.label :name %>
     <%= f.text_field(:name) %> 
    </section>
    <section>
     <%= f.label :email %>
     <%= f.text_field(:email) %> 
    </section>
    <section>
     <%= f.label :password %>
     <%= f.password_field(:password) %> 
    </section>
    <section>
      <%= f.label :password_confirmation %>
      <%= f.password_field(:password_confirmation) %>
    </section>
    <section>
      <%= f.submit("Sign Up Yo!") %>
    </section> 
  </fieldset>

<% end %>